.select {
    position: relative;
}

.select > select {
    line-height: normal;
}
.select::after {
    position: absolute;
    top: 18px;
    right: 15px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 5px 4.5px;
    border-color: transparent transparent rgba(116, 125, 132, .7) transparent;
    transform: rotate(180deg);
}
