.alert {
    display: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    padding: 17px 20px 15px 20px;
}

.alert_primary, .alert_secondary,
.alert_success, .alert_warning, .alert_error {
    display: block;
}

.alert_primary {
    background-color: #b2c3d3;
}
.alert_primary > .text {
    color: #395065;
}

.alert_secondary {
    background-color: #eaeaea;
}
.alert_secondary > .text {
    color: #747d84;
}

.alert_success {
    background-color: #B6BF80;
}
.alert_success > .text  {
    color: #454a26;
}

.alert_warning {
    background-color: #FFBD73;
}
.alert_warning > .text  {
    color: #7f4401;
}

.alert_error {
    background-color: #F67D7D;
}
.alert_error > .text  {
    color: #872c2b;
}

/* ANIMATIONS */
.alert_bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}
.alert_bounceOut {
    animation-duration: 0.75s;
    animation-name: bounceOut;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
